.container{
  padding: 20px;
}
.control-panel{
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.control-panel input{
  opacity: 0;
  cursor: pointer;
}
.custom-checkbox{
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  border: 1px solid rgb(110, 110, 110);
  background: #fff;
  border-radius: 4px;

}
.custom-checkbox:hover{
  border: 1px solid rgb(59, 59, 59);
}
.control-panel input:checked ~ .custom-checkbox{
  border: 1px solid #00b894;
  background-color: white;
}
.custom-checkbox:after{
  position: absolute;
  top: 1px;
  left: 3.5px;
  width: 3px;
  height: 6px;
  border: solid #00b894;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  content: "";
  display: none;
}
.control-panel input:checked ~.custom-checkbox:after{
  display: block;
}

/* checkbox-2 */
.control-panel__2{
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.control-panel__2 input{
  opacity: 0;
  cursor: pointer;
}
.custom-checkbox__2{
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  border: 1px solid rgb(110, 110, 110);
  background: #fff;
  border-radius: 4px;
}
.custom-checkbox__2:hover{
  border: 1px solid rgb(59, 59, 59);
}
.control-panel__2 input:checked ~ .custom-checkbox__2{
  width: 9px;
  border: 1px solid #00b894;
  border-right: 1px solid white;
  border-radius: 4px 1.8px 1.8px 4px;
}
.custom-checkbox__2:after{
  position: absolute;
  top: 1px;
  left: 6px;
  width: 3px;
  height: 6px;
  border: solid #00b894;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  content: "";
  display: none;
}
.control-panel__2 input:checked ~.custom-checkbox__2:after{
  display: block;
}