.control-panel{
  display: block;
  position: relative;
  margin: 10px;
  padding-left: 25px;
  cursor: pointer;
}
.control-panel input{
  opacity: 0;
  cursor: pointer;
}
.custom-checkbox{
  position: absolute;
  top: 3;
  left: 3;
  width: 11px;
  height: 11px;
  border: 1px solid rgb(110, 110, 110);
  background-color: white;
  border-radius: 4px;
}
.custom-checkbox:hover{
  border: 1px solid rgb(59, 59, 59);
}
.control-panel input:checked ~ .custom-checkbox{
  border: 1px solid #00b894;
  background-color: white;
}
.custom-checkbox:after{
  position: absolute;
  top: 1;
  left: 3.5;
  width: 3px;
  height: 6px;
  border: solid #00b894;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  content: "";
  display: none;
}
.control-panel input:checked ~.custom-checkbox:after{
  display: block;
}